.review-status{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .answer-status{
    color: white;
    padding: 15px;
    background-color: #ffc107;
    font-size: 20px;
    margin: 5px 0;
    width: 30%;    
  }
  .answered{
    background-color: #17a2b8;
  }
}